BeautifulSoup==3.2.1
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.5.0
PyYAML==3.11
Werkzeug==0.9.6
cssselect==0.9.1
gunicorn==19.0.0
itsdangerous==0.24
lxml==3.3.5
-e git+https://github.com/codelucas/newspaper.git#egg=newspaper
nltk==2.0.4
requests==2.3.0
simplejson==3.5.3
