BeautifulSoup==3.2.1
Flask==0.10.1
Glances==1.7.7
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.5.0
PyYAML==3.11
Werkzeug==0.9.6
cssselect==0.9.1
gunicorn==19.0.0
itsdangerous==0.24
lxml==3.3.5
newspaper==0.0.7
nltk==2.0.4
psutil==2.1.1
requests==2.3.0
simplejson==3.5.3
stevedore==0.15
virtualenv==1.11.4
virtualenv-clone==0.2.4
virtualenvwrapper==4.2
wsgiref==0.1.2
